body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 100;
    background-color: yellow;
}

canvas {
    border: 4px solid black;
}
