body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 100;
    background-color: sandybrown;
}

canvas {
    border: 4px solid blue;
}
