body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 100;
    background-color: #f0f0f0;
}

canvas {
    border: 3px solid red;
}
